<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th></th>
    <tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <tr>
    <% end %>
  </tbody>
</table>
