<h2><%= @user.customer.name %></h2>
Addresses:
<ul>
<% @user.customer.addresses.each do |address| %>
  <li>
  <%= address.full_address %>
  <%= link_to "Edit Address", edit_address_path(address) %>
  </li>
<% end %>
</ul>
  <ul>
My Orders:
<% @user.customer.orders.each do |order| %>
<li>
Status: <%= order.status.status_name %>
 Order Date: <%= order.order_date %>
 ETA: <%= order.expected_arrival_time %>
</li>
<% end %>
</ul>
