<h1> Home </h1>
<%= form_tag(products_path, method: :get)  do%>
  <%= text_field_tag  :search, params[:search], class: "col-lg-3"%>
  <%= submit_tag "Search" %>
<% end %>

<% @categories.each do |category| %>
  <ul>
    <li>
      <%= link_to category.category_name, category_products_path(category) %>
    </li>
  </ul>
<% end %>

<% @news.each do |new|  %>
  <div class="list-group col-lg-5">
    <ul>
      <li type="li" class="list-group-item list-group-item-secondary">
        <%= new.title %>
      </li>
      <li type="li" class="list-group-item list-group-item-action">
        <%= new.content %>
      </li>
      <li type="li" class="list-group-item list-group-item-action">
        Last edit: <%= new.last_edit_date %>
      </li>
    </ul>
  </div>
<% end %>
