<%= link_to 'New', new_news_path, method: :get, class: "btn btn-dark" %>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Created Date</th>
      <th>Last Edit Date</th>
      <th>Public</th>
      <th></th>
    <tr>
  </thead>
  <tbody>
    <% @news.each do |new| %>
      <tr>
        <th><%= new.title %></th>
        <td><%= new.created_date %></td>
        <td><%= new.last_edit_date %></td>
        <td><%= new.public %></td>
        <td>
          <%= link_to 'Show', news_path(new), class: "btn btn-outline-dark" %>
          <%= link_to 'Edit', edit_news_path(new), class: "btn btn-outline-dark" %>
        </td>
      <tr>
    <% end %>
  </tbody>
</table>
