<h1>Orders</h1>
<% flash.each do |key, value| %>
   <span class="error_msgs">
     <div class="<%= flash_class(key) %>">
           <%= value %>
     </div>
     </span>
    <script>
    setTimeout("$('.error_msgs').fadeOut('slow')", 1000)
  </script>
<% end %>

  <%= form_tag(orders_path, method: :get)  do%>
    <%= text_field_tag  :search, params[:search], class: "col-lg-3"%>
    <%= date_field_tag :start_date, params[:start_date]%>
    <%= date_field_tag :end_date, params[:end_date]%>
    <%= submit_tag "Search" %>
  <% end %>
<% unless @orders.empty? %>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Buyer</th>
        <th>Price</th>
        <th>Status</th>
        <th>Address</th>
        <th>Delivery</th>
        <th>Date</th>
        <th></th>
      <tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <th><%= order.id %></th>
          <td><%= order.customer.name %></td>
          <td>
            <% sum = 0 %>
            <% order.order_items.each do |item| %>
              <% sum = sum + item.count_price %>
            <% end %>
            <%= number_with_precision(sum,  precision: 2)%> zł
          </td>
          <td><%= order.status.status_name %></td>
          <td><%= order.address.full_address %></td>
          <td><%= order.delivery_method %></td>
          <td><%= order.order_date %></td>
          <td><%= link_to 'Show Details', order, class: "button" %></td>
        <tr>
      <% end %>
    </tbody>
  </table>
<% else %>
NO ORDERS
<%end %>
