<%=form_for @order, url: {action: "create"} do |form| %>

  <div class="field">
    <%= form.label :address %>
    <%= form.select(:address_id, current_user.customer.addresses.all.collect { |a| [ a.full_address, a.id ] }) %>
    <%= link_to "Add new address", new_address_path %>
  </div>

  <div class="field">
    <%= form.label :delivery_method %>
    <%= form.select(:delivery_method, ["Courier SKS", "Post office", "Personal"]) %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% flash.each do |key, value| %>
   <span class="error_msgs">
     <div class="<%= flash_class(key) %>">
           <%= value %>
     </div>
     </span>
    <script>
    setTimeout("$('.error_msgs').fadeOut('slow')", 1000)
  </script>
<% end %>
