<% flash.each do |key, value| %>
   <span class="error_msgs">
     <div class="<%= flash_class(key) %>">
           <%= value %>
     </div>
     </span>
    <script>
    setTimeout("$('.error_msgs').fadeOut('slow')", 1000)
  </script>
<% end %>

  <div class="list-group col-lg-5">
    <ul>
      <li type="li" class="list-group-item list-group-item-secondary">
        Order
      </li>
      <li type="li" class="list-group-item list-group-item-action">
         ID: <%= @order.id %>
      </li>
      <li type="li" class="list-group-item list-group-item-action">
        Buyer: <%= @order.customer.name %>
      </li>
      <li type="li" class="list-group-item list-group-item-action">
        Address: <%= @order.address.full_address %>
      </li>
      <li type="li" class="list-group-item list-group-item-action">
        Last Change: <%= @order.order_date %>
      </li>
      <li type="li" class="list-group-item list-group-item-action">
        Delivery Method: <%= @order.delivery_method %>
      </li>
    </ul>
  </div>
    <
    <%= form_for @order,
    url: {action: "update"},
    html: {class: "form-control col-lg-4 offset-lg-6",
    style: "top: -250px"} do |f| %>
      <div class="form-group">
        Status
        <%= f.select(:status_id, Status.all.collect { |s| [ s.status_name, s.id ] }) %>
      </div>
      <div class="">
        <%= f.submit 'Save', class: "btn btn-outline-dark" %>
        <%= link_to "Back", orders_path, class: "btn btn-outline-dark", style: "top: -200px"%>
    </div>
    <% end %>
<div class="">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Count</th>
        <th>Serial Number</th>
      <tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |order_item| %>
        <tr>
          <th><%= order_item.item_name %></th>
          <td><%= number_with_precision(order_item.price, precision: 2) %> zł</td>
          <td><%= order_item.count%></td>
          <td><%= order_item.serial_number %></td>
        <tr>
      <% end %>
    </tbody>
  </table>
</div>
