<h1> Products </h1>

<% if current_user && current_user.access_level = 1 %>
  <%= link_to "New", new_product_path, method: :get, class: "btn btn-dark" %>
<% end %>

<%= form_tag(products_path, method: :get)  do%>
  <%= text_field_tag  :search, params[:search], class: "col-lg-3"%>
  <%= submit_tag "Search" %>
<% end %>
<table class="table table-hover">
  <thead class="thead-dark">
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>In Stock</th>
      <th>product_code</th>
      <th></th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td> <%= product.name %> </td>
        <td> <%= product.category.category_name %> </td>
        <td>
          <%= number_with_precision(
          product.price, precision: 2
          )%> zł
        </td>
        <td><%= product.in_stock %></td>
        <td><%= product.product_code %></td>
        <td><%= link_to 'Show Product', product, class: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
