<%=form_for @product, url: {action: "create"} do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select(:category_id, Category.all.collect { |c| [ c.category_name, c.id ] }) %>
  </div>

  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.select(:manufacturer_id, Manufacturer.all.collect { |m| [ m.manufacturer_name, m.id ] }) %>
  </div>

  <div class="field">
    <%= form.label :parameters %>
    <%= form.text_area :parameters %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :in_stock %>
    <%= form.text_field :in_stock %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :package_specification %>
    <%= form.text_field :package_specification %>
  </div>

  <div class="field">
    <%= form.label :product_code %>
    <%= form.text_field :product_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% flash.each do |key, value| %>
   <span class="error_msgs">
     <div class="<%= flash_class(key) %>">
           <%= value %>
     </div>
     </span>
    <script>
    setTimeout("$('.error_msgs').fadeOut('slow')", 1000)
  </script>
<% end %>
