<%= form_tag(products_path, method: :get)  do%>
  <%= text_field_tag  :search, params[:search], class: "col-lg-3"%>
  <%= submit_tag "Search" %>
<% end %>
<div class="list-group col-lg-5">
  <ul>
    <li type="li" class="list-group-item list-group-item-secondary">
      <%= @product.name %>
    </li>
    <li type="li" class="list-group-item list-group-item-action">
      Category:  <%= @product.category.category_name %>
    </li>
    <li type="li" class="list-group-item list-group-item-action">
      Manufacurer: <%= @product.manufacturer.manufacturer_name %>
    </li>
    <li type="li" class="list-group-item list-group-item-action">
      Parameters: <%= @product.parameters %>
    </li>
    <li type="li" class="list-group-item list-group-item-action">
      Package Specification <%= @product.package_specification %>
    </li>
  </ul>
</div>

<div class="list-group col-lg-5">
  <ul>
    <li type="li" class="list-group-item list-group-item-secondary">
      PRICE
    </li>
    <li type="li" class="list-group-item list-group-item-action">
      <%= number_with_precision(
      @product.price, precision: 2
      )%> zł
    </li>
  </ul>
</div>

<div class="list-group col-lg-5">
  <ul>
    <li type="li" class="list-group-item list-group-item-secondary">
      IN STOCK
    </li>
    <li type="li" class="list-group-item list-group-item-action">
      <%= @product.in_stock %>
    </li>
  </ul>
</div>

<!-- form to create item in cart -->
<%= form_for @cart_item, url: cart_items_path, method: :post do |f| %>
  <div class="form-group">
    <!-- choosing quantity -->
    QUANTITY: <%= f.text_field :quantity,  value: 1 %>
    <%= f.hidden_field :product_id, value: @product.id %>
  </div>

  <div class="form-group">
    <% if current_user %>
      <!-- submit quantity and adding to cart -->
      <%= f.submit 'Add to Cart', class: "btn btn-outline-dark" %>
    <% else %>
      <!-- redirect to sign in tab if user not logged in -->
      <%= link_to('Add to Cart', new_user_session_path, class: "btn btn-outline-dark")  %>
    <% end  %>
  </div>
<% end %>
<%= @product.description %>
