<!DOCTYPE html>
<html>
  <head>
    <title>ProjectShop</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#"> SuperShop </a>
      <button
        class="navbar-toggler"
        type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <button type="button" class="btn btn-dark"><%= link_to 'Home', home_path %></button>
          </li>

          <li class="nav-item active">
            <button type="button" class="btn btn-dark"><%= link_to 'Products', products_path %></button>
          </li>
          <!-- only order fulfillment has access to orders tab-->
          <% if current_user.present? && current_user.access_level == 2 %>
            <li class="nav-item active">
              <button type="button" class="btn btn-dark"><%= link_to 'Orders', orders_path %></button>
            </li>
          <% end  %>
          <!-- only admin has access to news editor -->
          <% if current_user.present? && current_user.access_level == 1 %>
            <li class="nav-item active">
              <button type="button" class="btn btn-dark"><%= link_to 'News', news_index_path %></button>
            </li>
          <% end  %>
          <!-- only admin has access to all users listing-->
          <% if current_user.present? && current_user.access_level == 1 %>
            <li class="nav-item active">
              <button type="button" class="btn btn-dark"><%= link_to 'Users', users_path %></button>
            </li>
          <% end  %>
          <!-- user must be logged in to show his cart -->
          <%if current_user %>
          <li class="nav-item active">
            <button type="button" class="btn btn-dark"><%= link_to 'MY CART', cart_path(current_user.id) %></button>
          </li>
          <%  end %>
        </ul>

        <% if user_signed_in? %>
          <span>
            <!-- user must be logged in to show his profile -->
            <%= link_to('MY PROFILE', user_path(current_user)) %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </span>
        <% else %>
          <span>
            <%= link_to('Login', new_user_session_path)  %>
          </span>
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
